server {
    listen ${PORT};
    server_name localhost;

    location / {
        root /usr/share/nginx/html;
        index index.html index.htm;
        try_files $uri $uri/ /index.html;
    }

    location = /rose {
        root /usr/share/nginx/html;
        default_type text/html;
        try_files /rose.html =404;
    }

    location = /propose {
        root /usr/share/nginx/html;
        default_type text/html;
        try_files /propose.html =404;
    }

    location = /hug {
        root /usr/share/nginx/html;
        default_type text/html;
        try_files /hug.html =404;
    }

    location = /valentine {
        root /usr/share/nginx/html;
        default_type text/html;
        try_files /valentine.html =404;
    }

    error_page 500 502 503 504 /50x.html;
    location = /50x.html {
        root /usr/share/nginx/html;
    }
}
